/* ===== MENU PAGE ===== */

.menu-hero {
    background: #e4002b;
    color: white;
    padding: 60px 5%;
    text-align: center;
}

.menu-filter {
    text-align: center;
    margin: 30px 0;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: #e4002b;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px 5%;
}

.menu-card {
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-card:hover {
    transform: translateY(-8px);
}

.price {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #e4002b;
}

.add-cart {
    background: #e4002b;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.add-cart:hover {
    background: black;
}

.cart-icon {
    font-weight: bold;
}
