@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 5%;
        width: 200px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero {
        height: 70vh;
    }

}
